* {
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  width: 100%;
}

.app {
  width: 100%;
  margin: 0 auto;
}

.app-title {
  color: #333;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  width: 94%;
  min-width: 1200px;
  margin: 0 auto;
}

.header .logo {
  width: 90px;
  height: 90px;
}

.header .logo img {
  width: 100%;
  height: 100%;
}

.header .search {
  flex: 1;
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 20px;
  padding: 0 20px;
  border-radius: 25px;
  background: #f3f5f7;
}

.header .search span {
  flex: 1;
  color: #666;
  font-size: 14px;
  padding: 0 0 0 20px;
}

.header .search img {
  width: 24px;
  height: 24px;
}

.header .icon {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 12px;
}

.header .icon img {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
}

.wl-shop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 94%;
  min-width: 1200px;
  margin: 0 auto;
}

.wl-shop .item {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 12px;
  margin: 0 0 0 20px;
}

.wl-shop .item span {
  margin: 0 0 0 10px;
}

.wl-shop .item img {
  width: 24px;
  height: 24px;
}

.nav {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 14px;
  font-weight: bold;
  width: 1100px;
  margin: 20px auto;
}

.nav img {
  width: 14px;
  height: 14px;
  margin: 0 20px;
}

.wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.wrap .left {
  width: 700px;
}

.swiper-container {
  width: 100%;
  height: 250px;
  margin: 20px auto 0;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.7);
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
  transform: scale(1);
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.left .more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 12px;
  width: 100px;
  height: 24px;
  margin: 20px auto;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.left .list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 60px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}

.left .list img {
  width: 12px;
  height: 12px;
}

.wrap .right {
  width: 300px;
  margin: 50px 0 0 0;
}

.right .title {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 30px;
}

.right .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
}

.right .price img {
  width: 20px;
  height: 20px;
}

.right .star {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 12px;
  width: 100%;
  margin: 10px 0 20px;
}

.right .star img {
  width: 14px;
  height: 14px;
  margin: 0 10px 0 0;
}
.color {
  color: #333;
  font-size: 14px;
  margin: 10px 0 20px;
}
.right .but {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  width: 220px;
  height: 50px;
  margin: 50px 0;
  border-radius: 25px;
  background: green;
}
.right .but img {
  width: 14px;
  height: 14px;
}
.right .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  font-size: 12px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
}
.right .item img {
  width: 14px;
  height: 14px;
}